---
title: OpenAED
---

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} | OpenAED</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="shortcut icon" href="/assets/icon.png" type="image/png">

    <script src="/js/bootstrap.bundle.min.js" defer></script>
</head>

<body>
    <div class="container-fluid header bg-grey pt-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3 pb-3">
                            <img src="/assets/logo.png" class="img-fluid">
                        </div>
                        <div class="col-4 my-auto">
                            <span class="text-white">
                                <i class="bi bi-envelope-fill"></i>
                                <a href="mailto:info@openaed.eu"
                                    class="text-white fw-bold text-decoration-none">info@openaed.eu</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="menu">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://openaed.nl/">The map</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/donation">Donation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-9">
                {{  content | safe }}
            </div>
            <div class="col-3" id="sidebar">
                <h5>What's OpenAED?</h5>
                <hr>
                <p>OpenAED is a project to map all AEDs in Europe, starting in the Netherlands.<br><br>Besides that,
                    OpenAED
                    helps finance local AED fundraisers.</p>

                <br>

                <h5>Your attention, please</h5>
                <hr>
                <ul class="list-unstyled" id="attentionlist">

                </ul>

                <br>

                <h5>Links</h5>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-black text-decoration-none" href="https://openaed.nl" target="_blank">Netherlands
                            map</a>
                    </li>
                    <li>
                        <a class="text-black text-decoration-none" href="https://www.openstreetmap.org/"
                            target="_blank">OpenStreetMap</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="container-fluid footer bg-grey text-white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Useful links</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.nhs.uk/conditions/first-aid/cpr/" target="_blank"
                                class="text-white text-decoration-none">How to perform CPR</a>
                        </li>
                        <li>
                            <a href="https://www.hartstichting.nl/" target="_blank"
                                class="text-white text-decoration-none">Dutch Heart
                                Foundation</a>
                        </li>
                        <li>
                            <a href="https://www.buurtaed.nl/" target="_blank"
                                class="text-white text-decoration-none">BuurtAED</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="text-center">© 2023 OpenAED</p>
        </div>
    </div>
</footer>

<script>
    fetch(
            'https://blog.openaed.nl/ghost/api/content/posts/?key=17ef0ea91b5076cd4d29a48113&limit=5&order=published_at%20desc&include=tags&filter=tags:attention-please'
        )
        .then(response => response.json())
        .then(data => {
            const postsContainer = document.getElementById('attentionlist');
            data.posts.forEach(post => {
                if (post.primary_tag.slug != 'attention-please')
                    return;

                const postElement = document.createElement('li');
                const postLink = document.createElement('a');
                postLink.href = post.excerpt;
                postLink.target = '_blank';
                postLink.classList.add('text-black', 'text-decoration-none');
                postLink.innerHTML = post.title + '&nbsp;<i class="bi bi-box-arrow-up-right"></i>';
                postElement.appendChild(postLink);
                postsContainer.appendChild(postElement);
            });
            if (data.posts.length === 0)
                postsContainer.innerHTML = '<p>No links right now.</p>';
        });
</script>

</html>